body{
  font-family: 'Sanchez', serif;
  /* padding-top:80px; */
  word-wrap:break-word;
  background-color:#f6faeb;
}

.nav-menu a {
  letter-spacing: 2px;
  font-family: 'Sanchez', serif;
}

h1, h2, h3, h4, h5, h6, .font-primary, #hero .btn-get-started{
  font-family: 'Sanchez', serif;
}

img{
  height: 200px;
}

/* ==============ANCHOR TAG JUMP============= */

.jump{
  text-align: end;
}
.back-to-top {
  background: #CDDC39;
}

.back-to-top:hover {
  color: #fff;
  background: #8BC34A;
}

.section-title h2 {
  color: #b5d7b6;
}

/* ==============IMG TILES SHADING============= */

.portfolio .portfolio-wrap::before {
  background: rgb(80 111 108 / 60%);
}

/* ==============SCROLL BAR============= */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #dae7b4;
}


/* ==============ABOUT PAGE============= */

.img-fluid {
  max-width: 130%;
}

.about{
  padding: 130px 0;
}

/* ==============INDEX============= */

#hero{
  background: #f6faeb;
  border-bottom: none;
}

#hero .btn-get-started{
  background: #8BC34A;
}

#hero .btn-get-started:hover{
  background:#4CAF50;
  ;
}
.nav-menu .get-started a {
  background: #4CAF50;
}

.nav-menu .get-started a:hover {
  background: #009688;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #009688;
  text-decoration: none;
}

.logoSize{
  max-height: 65px;
}

/* ==============PROFILE============= */

div.scrollable{
  height: 434px; /* or any value */
  overflow: auto;
  white-space: nowrap;
}

.postW{
  width: 65%;
  display: block;
  margin: auto;
  border-radius: 4px;
}

#userProfile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 50%; */
  padding-bottom: 15px;
}
.profileUl{
  list-style: none;
}

.mainTitle{
  color: white;
  font-size: 35px;
  padding-bottom: 20px;
}

.profileTitle{
  color: #FFF;
  text-align: center;
  font-size: 45px;
  padding-left: 20px;
}

input[type="file"]{
  display: inline;
}

input[type="submit"]{
  background: #f6a200;
  color: white;
  border: 2px solid #FF9800;

}

.profileHdr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 12px double #fff;
}

.btnContainer{
  margin: 20px;
}

.capContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.capMain{
  text-align: center;
}

.cap{
  padding-right: 20px;
}

.cap a{
  color:#FFC107;
  font-weight: bold;
}

.cap a:hover{
  color:#ff9800;
}

span .fa{
  color: #009688;
}

/* ==============PUBLIC PROFILE============= */

#uploadPad{
  padding: 5px 0 0 0;
}

.publicUser{
  display: block;
  text-align: center;
  }

#friendId{
  font-size: 25px;
  padding-top: 10px;
}
#friendBtn{
  height: 35px;
  background: #FF9800;
  border: 2px solid #df911e;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
}

#friendBtn:hover{
  background: #FFC107;
  border: 2px solid #f1c132;
}

.imgTiles p{
  text-align: center;
  padding-top: 10px;
}

.imgTiles{
  display: block;
  text-align: center;
}

.imgTiles img{
  border-radius: 6px;
}

.commentContainer {
  text-align: center;
  padding: 24px 0;
}

.commentInput{
  border: 3px solid #8BC34A;
  border-radius: 6px;
  height: 35px;
}

.commenter{
  color: #009688;
  font-weight: bold;
}

.commentBtn{
  background: #009688;
  font-weight: bold;
  color: white;
  border: 3px solid green;
  border-radius: 4px;
}

.postUl p{
  font-size: 17px;
  letter-spacing: 1px;
}

.postUl img{
  border-radius: 3px;
}

.postForm{
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 79%;
}

.speechBubble{
  background-color: #cacacaa1;
  border: 3px solid #dcdcdc;
  padding: 15px;
  border-radius: 20px;
  position: relative;
  width: fit-content;
  margin: auto;
}

.bubbleArrow{
  border-left: 21px solid transparent;
  border-top: 20px solid #cacacaa1;
  /* border: 1px solid black; */
  bottom: -23px;
  position: absolute;
}

/* ==============FEED============= */
.feedTitle{
  text-align: center;
}

.feedUl, .profileUl{
  list-style: none;
}

.cap{
  text-align: center;
}

.liFeed{
  padding-bottom: 40px;
  padding-left: 35%;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #009688;
}

.user{
  display: block;
  font-size: 22px;
  color: #FF9800;
}
/* ===============HASH TAG PAGE==================== */
.hashLi{
  text-align: center;
  list-style: none;
  padding: 20px;
}

.hashLi img{
  margin: 8px;
  border-radius: 3px;
}

.hashLi span p{
  font-size: 17px;
  letter-spacing: 1px;
  padding-top: 10px;

}

.hashUser{
  display: block;
  font-size: 22px;
  color: #009688;
  text-align: center;
}
/* ===============POST & COMMENTS ==================== */
.postUl{
  list-style: none;
  text-align: center;
}

.commentContainer{
  text-align:center;
}

.trash{
  cursor:pointer
}

a {
  color: #8BC34A;
}
/* =============== CONTACT PAGE ==================== */
.contact .php-email-form, .contact .info{
  border-top: 3px solid #4CAF50;
  border-bottom: 3px solid #4CAF50;
}

.contact .info i {
  color: #4CAF50;
  background: #ecf0be;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #009688;
}

.section-title p::after {
  background: #009688;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #CDDC39;
}

.contact .php-email-form button[type="submit"] {
  background: #8BC34A;
}

/* =============== SEARCH PAGE ==================== */

.searchForm{
  text-align: center;
}

#items{
  text-align: center;
}

#items div{
  padding: 50px;
  border: 4px solid #4caf50c7;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #e9f8be47;
}

#items div img{
    margin: 20px;
    border-radius: 5px;
    border: 6px solid #8bc34a45;
}

#items a{
  display:block;
  color: #009688;
  font-weight: bold;
  cursor: pointer;
}

#items a:hover{
  color:#8bc34a;
}

#items p{
  display: inline-block;
  padding-right: 35px;
}

.commonName, .animalName{
  color: #095a53;
  font-size: 17px;
  font-weight: bold;
}

.animalName{
  color: #4CAF50;
}

#searchBtn{
  background: #4caf50;
  height: 32px;
  color: white;
  border: 2px solid green;
  border-radius: 3px;
}

#searchInput{
  border: 3px solid #8BC34A;
  border-radius: 3px;
}

.searchBar{
  padding: 0;
}

.searchImg{
  width: 70px;
}

.searchForm img{
  height: 66px;
}

#searchSec{
  padding: 0;
  background: #cddc3947;
}


/* =============== BUDS/FRIENDS PAGE ==================== */
.buddy, #buddyReq{
  text-align: center;
  color: #009688;
  font-size: 20px;
}

#buddyReq{
  padding: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #8BC34A;
}

.budsPics{
  width: 65%;
  display: block;
  margin: auto;
  border-radius: 4px;
}

.user, .budsCap{
  text-align: center;
}

.budsCap p{
  padding-top: 20px;
}

#buddyList p{
  padding: 0;
  margin-top: 20px;
}

.delBud{
    font-size: 15px;
    background: #FF5722;
    color: white;
    font-weight: bold;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #d74618;
}
/* check to see if it works */
.scrollableList{
  overflow: auto;
  white-space: nowrap;
}