<!doctype html>
<html>
  <head>
    <title>Tallo</title>
    <!-- <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/assets/css/style.css" rel="stylesheet">
      <!-- <title>Quickpound</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
      <link rel="stylesheet" href="/viewcss/style.css"> 
      <!-- <link rel="icon" type="image/png" sizes="32x32" href="">
      <link rel="icon" type="image/png" sizes="96x96" href="">
      <link rel="icon" type="image/png" sizes="16x16" href=""> -->

  </head>
  <body>
