<!doctype html>
<html>
  <head>
    <title>Tallo</title>
    <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link  rel="icon" href="/img/leaf.png">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/viewcss/style.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&family=Sanchez&family=Slabo+27px&display=swap" rel="stylesheet">
  </head>
  <body>
