<%- include('header'); -%>
  <div class="container">
      <div class="jumbotron text-center">
          <h1 id='loginTitle'>Quickpound</h1>
          <img src="img/camera.gif" alt="Quickpound Logo">
          <p class="indexP">Login or Signup:</p>
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      </div>
  </div>
<%- include('footer'); -%>
